springdoc:
  swagger-ui:
    enabled: false
  api-docs:
    enabled: false

logging:
  level:
    root: WARN
    com.enterprise.marketplace: INFO

management:
  endpoint:
    health:
      show-details: never
  tracing:
    sampling:
      probability: 0.1
